@using System.Globalization;
@model List<PersonalFinance.Web.Models.Bill>

@{
    ViewData["Title"] = "Bills";
}

<p class="display-4">Search result - bills</p>
<hr />
<div>
    <a class="btn btn-dark" asp-controller="Bills" asp-action="Index">Back to list</a>
</div>

<div class="mt-3 col-8">
    <table class="table table-borderless">
        <tr class="table-info">
            <th>Date</th>
            <th>Amount</th>
            <th>Notes</th>
            <th>Due date</th>
            <th>Is paid</th>
            <th>Paid date</th>
            <th>Options</th>
        </tr>
        @foreach (var bill in Model)
        {
            <tr class="table table-bordered">
                @if (bill.Date.HasValue)
                {
                    <td>@bill.Date.Value.ToShortDateString()</td>
                }
                else
                {
                    <td></td>
                }
                <td>@bill.Amount.ToString("C", CultureInfo.CurrentCulture)</td>
                <td>@bill.Notes</td>
                <td>@bill.DueDate.ToShortDateString()</td>
                <td>@bill.IsPaid</td>
                @if (bill.PaidDate.HasValue)
                {
                    <td>@bill.PaidDate.Value.ToShortDateString()</td>
                }
                else
                {
                    <td></td>
                }
            <td class="form-inline">
                <form class="mr-3" asp-controller="Bills" asp-action="Update" asp-route-Id="@bill.Id" method="get">
                    <button type="submit" class="btn btn-outline-success btn-sm">
                        <img src="~/img/credit_card-24px.svg" class="mr-2" /><span class="mr-2">Pay</span>
                    </button>
                </form>
                <form asp-controller="Bills" asp-action="Delete" asp-route-Id="@bill.Id" method="post">
                    <input type="hidden" asp-for="@bill.Id" />
                    <button type="submit" class="btn btn-outline-danger btn-sm">
                        <img src="~/img/delete_forever-24px.svg" class="mr-2" /><span class="mr-2">Delete</span>
                    </button>
                </form>
            </td>
            </tr>
        }
    </table>
</div>