@using System.Globalization;
@using PersonalFinance.Web.Models;
@using PersonalFinance.Web.Helpers;
@model PersonalFinance.Web.Models.Budget

@{
    ViewData["Title"] = "Budget";
    var dateConventer = new DateConventer();
}

<p class="display-4">Budget goal</p>
<hr />

<div class="mt-3 col-8 col-md-10">
    <table class="table table-borderless">
        <tr class="table-info">
            <th>Month</th>
            <th>Year</th>
            <th>Total Revenue</th>
            <th>Planned Expenses</th>
            <th>Balance</th>
            <th>Options</th>
        </tr>

        <tr class="table table-bordered">
            <td>@dateConventer.ConvertNumberToMonth(Model.Month)</td>
            <td>@Model.Year</td>
            <td>@Model.TotalRevenue.ToString("C", CultureInfo.CurrentCulture)</td>
            <td>@Model.PlannedExpenses.ToString("C", CultureInfo.CurrentCulture)</td>
            <td>@Model.Balance.ToString("C", CultureInfo.CurrentCulture)</td>
            <td class="form-inline">
                <form asp-controller="Budget" asp-action="Update" asp-route-budgetId="@Model.Id" method="get" class="mr-3">
                    <input type="hidden" asp-for="@Model.Id" />
                    <button type="submit" class="btn btn-outline-primary btn-sm">
                        <img src="~/img/update-24px.svg" class="mr-2" /><span class="mr-2">Update</span>
                    </button>
                </form>
                <form asp-controller="Budget" asp-action="Delete" asp-route-budgetId="@Model.Id" method="post">
                    <input type="hidden" asp-for="@Model.Id" />
                    <button type="submit" class="btn btn-outline-danger btn-sm">
                        <img src="~/img/delete_forever-24px.svg" class="mr-2" /><span class="mr-2">Delete</span>
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>

<div class="col-12">
    <div class="mt-3 col-6 d-lg-inline-block float-left">
        <p class="display-4 float-left">Revenues</p>
        <div class="mt-2 ml-3 form-inline">
            <a class="btn btn-success mt-3 ml-3" asp-controller="Budget" asp-action="CreatePlannedRevenue" asp-route-budgetId="@Model.Id">Add revenue</a>
        </div>
        <table class="table table-borderless">
            <tr class="table-success">
                <th>Amount</th>
                <th>Kind</th>
                <th>Date</th>
                <th>Is received</th>
                <th>Received date</th>
                <th>Options</th>
            </tr>

            @foreach (var revenue in @Model.Revenues)
            {
                <tr class="table table-bordered">
                    <td>@revenue.Amount.ToString("C", CultureInfo.CurrentCulture)</td>
                    <td>@revenue.Kind</td>
                    @if (revenue.Date.HasValue)
                    {
                        <td>@revenue.Date.Value.ToShortDateString()</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@revenue.IsReceived</td>
                    @if (revenue.IsReceived)
                    {
                        <td>@revenue.ReceivedDate.Value.ToShortDateString()</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td class="form-inline">
                        <form asp-controller="Budget" asp-action="UpdatePlannedRevenue" asp-route-plannedRevenueId="@revenue.Id" method="get">
                            <input type="hidden" asp-for="@revenue.Id" />
                            <button type="submit" class="btn btn-warning">
                                <i class="material-icons">refresh</i>
                            </button>
                        </form>
                        <form asp-controller="Budget" asp-action="DeletePlannedRevenue" asp-route-plannedRevenueId="@revenue.Id" method="post">
                            <input type="hidden" asp-for="@revenue.Id" />
                            <button type="submit" class="btn btn-danger">
                                <i class="material-icons">cancel</i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="mt-3 col-6 d-lg-inline-block">
        <p class="display-4 float-left">Expenses</p>
        <div class="mt-2 ml-3 form-inline">
            <a class="btn btn-success mt-3 ml-3" asp-controller="Budget" asp-action="CreatePlannedExpense" asp-route-budgetId="@Model.Id">Add expense</a>
        </div>

        <table class="table table-borderless">
            <tr class="table-danger">
                <th>Amount</th>
                <th>Kind</th>
                <th>Date</th>
                <th>Is paid</th>
                <th>Paid date</th>
                <th>Options</th>
            </tr>

            @foreach (var expense in @Model.Expenses)
            {
                <tr class="table table-bordered">
                    <td>@expense.Amount.ToString("C", CultureInfo.CurrentCulture)</td>
                    <td>@expense.Kind</td>
                    @if (expense.Date.HasValue)
                    {
                        <td>@expense.Date.Value.ToShortDateString()</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@expense.IsPaid</td>
                    @if (expense.IsPaid)
                    {
                        <td>@expense.PaidDate.Value.ToShortDateString()</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td class="form-inline">
                        <form asp-controller="Budget" asp-action="UpdatePlannedExpense" asp-route-plannedExpenseId="@expense.Id" method="get">
                            <input type="hidden" asp-for="@expense.Id" />
                            <button type="submit" class="btn btn-warning">
                                <i class="material-icons">refresh</i>
                            </button>
                        </form>
                        <form asp-controller="Budget" asp-action="DeletePlannedExpense" asp-route-plannedExpenseId="@expense.Id" method="post">
                            <input type="hidden" asp-for="@expense.Id" />
                            <button type="submit" class="btn btn-danger">
                                <i class="material-icons">cancel</i>
                            </button>
                        </form>
                    </td>

                </tr>
            }
        </table>
    </div>

</div>

